* {
    box-sizing: border-box;
}

/* Allow links to scroll smoothly to next link on page */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}
/* Bootstrap Jumbotron styling*/
.jumbotron {
    background-image:
    linear-gradient(rgba(241, 9, 86), rgb(209, 66, 125, 0.9), rgb(236, 216, 37, 0.9)),
    url('../img/jumbo_background_final.jpg');
    background-size: cover, cover;
    border-radius: 0;
}

.profilepic {
    min-width: 200px;;
}

.learnMoreHover{
        animation-name: floating;
        -webkit-animation-name: floating;
    
        animation-duration: 1.5s;	
        -webkit-animation-duration: 1.5s;
    
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    
    @keyframes floating {
        0% {
            transform: translateY(0%);	
        }
        50% {
            transform: translateY(15%);	
        }	
        100% {
            transform: translateY(0%);
        }			
    }
    
    @-webkit-keyframes floating {
        0% {
            -webkit-transform: translateY(0%);	
        }
        50% {
            -webkit-transform: translateY(15%);	
        }	
        100% {
            -webkit-transform: translateY(0%);
        }			
    }

/* Styling Skill Section */
.skillSection {
    background-color: rgb(101, 80, 145);
}

.skillHeader {
    font-size: 2.0em;
    color: #fff;
}

.card-header {
    background-color:  rgb(101, 80, 145);
}

.cardLength {
    height: 45rem;
}

.card-body img {
    width: 2.5em;
}

.subheader {
    font-size: 1.1em;
}

.listItems {
    font-size: 1.0em;
}
/* Zoom in effect on Portfolio Projects */
.photoPortStyle:hover,
.photoPortStyle:focus {
    width: 100%;
    height: 100%;
    animation-name: zoomin;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
@keyframes zoomin {
    100%{
        transform: scale(1.05);
    }
}

/* Profile Pic Animation*/
.profilepic:hover {
    animation-name: spinny;
    animation-duration: 2s;
     
}
@keyframes spinny {
    100%{
        transform: rotateY(360deg); 
}
};

/* Portfolio section */
.comingSoonAnimate:hover {
    animation-name: spinny;
    animation-duration: 2s;
     
}
@keyframes spinny {
    100%{
        transform: rotateY(360deg); 
}
};

/* Overlay of project images */
.portfolioImage:hover {
    color: aqua;
}

/* Styling all links on page  */
a:hover {
    color: tomato;
}

.nounderline {
    text-decoration: none !important;
}


/* call to action button  styling*/
.callToAction:hover {
    background-image: linear-gradient(to right, rgba(241, 9, 86), rgb(209, 66, 125, 0.9), rgb(236, 216, 37, 0.9));
    border: none;
}

.callToActionLink,
.callToActionLink:hover {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

/*Normal paragraph text styling*/
.paragraphText {
    font-size: 1.5em;
    max-width: 100%;
    text-align: center;  
}
