* {
    box-sizing: border-box;
}

/* Allow links to scroll smoothly to next link on page */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}



/*navbar header styling*/
#navbarHeader p, #navbarHeader a{
    font-size: 1.2em;
}

.logo {
    font-size: 1.8em;
}

#welcome-section {
    height: 100vh;
}
/* Bootstrap Jumbotron styling*/
.jumbotron {
    background-image:
    linear-gradient(rgb(74, 9, 104), rgb(209, 66, 125, 0.9), rgb(236, 216, 37, 0.9)),
    url('../img/jumbo_background_final.jpg');
    background-size: cover, cover;
    border-radius: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: rgb(21, 10, 80);
}

.nav-links {
    display: flex;
    flex-direction: row;

}

.nav-links > li {
    margin: 1em;
    color: #fff;
    font-size: 1.2em;
}

.nav-links > li > a {
    color: #fff;
}

.intro-section {
    margin-top: 3em;
}

.profilepic {
    min-width: 200px;;
}

.learnMoreHover{
        animation-name: floating;
        -webkit-animation-name: floating;
    
        animation-duration: 1.5s;	
        -webkit-animation-duration: 1.5s;
    
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    
    @keyframes floating {
        0% {
            transform: translateY(0%);	
        }
        50% {
            transform: translateY(15%);	
        }	
        100% {
            transform: translateY(0%);
        }			
    }
    
    @-webkit-keyframes floating {
        0% {
            -webkit-transform: translateY(0%);	
        }
        50% {
            -webkit-transform: translateY(15%);	
        }	
        100% {
            -webkit-transform: translateY(0%);
        }			
    }

/* Styling Skill Section */
.skillSection {
    background-color: rgb(101, 80, 145);
}

.skillHeader {
    font-size: 2.0em;
    color: #fff;
}

.card {
    box-shadow: 10px 10px 10px grey;
}

.card-header {
    background-color:  rgb(46, 28, 85);
}

.cardLength {
    height: 40rem;
}

.card-body img {
    width: 2.5em;
}

.subheader {
    font-size: 1.1em;
}

/*styling list items in each skill section card*/
.listItems {
    font-size: 1.2em;
}

/* Profile Pic Animation*/
.profilepic:hover {
    animation-name: spinny;
    animation-duration: 2s;
     
}
@keyframes spinny {
    100%{
        transform: rotateY(360deg); 
}
};

/* Portfolio section */
.comingSoonAnimate:hover {
    animation-name: spinny;
    animation-duration: 2s;
     
}
@keyframes spinny {
    100%{
        transform: rotateY(360deg); 
}
};

/* Overlay of project images */


/* Styling all links on page  */

.nounderline {
    text-decoration: none !important;
}


/* call to action button  styling*/
.callToAction {
    width: 7em;
    height: 2em;
    font-size: 1.1em;
}

.callToActionLink {
    font-size: 1.5em;
}

.callToAction:hover {
    background-image: linear-gradient(to right, rgba(241, 9, 86), rgb(209, 66, 125, 0.9), rgb(236, 216, 37, 0.9));
    border: none;
}

.callToActionLink,
.callToActionLink:hover {
    color: #fff;
    text-decoration: none;
}

/*Normal paragraph text styling*/
.paragraphText {
    font-size: 1.5em;
    max-width: 100%;
    text-align: center;  
}


/*Styling Footer Section*/
.footer-section {
    background-color: rgb(21, 10, 80);
}

.footer-section a {
    font-size: 1.2em;
    color: #fff;
}

@media(max-width:764px) {
    #navbar .container {
        display: flex;
        flex-direction: column;
    }

    ul.nav-links {
        flex-direction: column;
        text-align: center;
    }

    ul.nav-links li {
        margin: .1em;
    }

    .intro-section {
        margin-top: 12em;
    }
}